@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap');

body{
    font-family: 'Nunito', sans-serif ;
}


.heading{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid teal;
    width: 350px;
    padding: 10px 0;
    text-align: center;
    background-color: #742365;
    color: white;
    cursor: pointer;
    transition: all 0.1s;
}
.heading:hover{
    background-color: white;
    color: #742365;
}

#saveBtn{
    background: #742365;
    color: white;
}


.note{
    position: relative;
}
.cardFooter{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px;
    border-top: 2px solid #74236593;
}

#row2{
    display: none;
}
#editBtn{
    outline: none;
    background: #742365;
    color: white;
    padding: 5px 10px;
}